body{
  font-family: arial;
}

.header{
  /* border: 2px solid black ; */
  display: flex;
  /* gap: 700px; */
  justify-content: space-around;
  padding-left: px;
  background-color: #1f2937;
  color: white;
  flex-wrap: wrap;
  

}

ul{
  display: flex;
  list-style-type: none;
  gap: 20px;
}



.description{

  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid red */
  background-color: #1f2937;
  color: white;
  vertical-align: bottom;
  margin: 0px;
  padding: 0px;
  padding-bottom: 80px;

}

.description-text{
  /* border: 2px solid green; */
  flex-direction: column;
  display: flex;
  width: 400px;
  font-size: 18px;
  gap: 7px;
  margin-left: 220px;
  margin-top: 100px;
  height:fit-content;

}



img{
  width: 400px;
  margin-left: 110px;
  margin: 0px;
  padding: 0px;
  margin-left: 110px;
  margin-top: 100px;

}

button{
  width: 80px;
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 7px 14px;
  margin-top: 10px;
}

h1{
  margin: 0px;
  max-width: 250px;
}

                                                                               /*Information part starts here*/
.info{
  /* border: 2px solid yellow; */
  margin: 0px;
  padding: 0px;
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  flex-wrap: wrap;
}
.info img{
  border: 2px solid #3882f6;
  height: 120px;
  width: 120px;
  margin:0px;
  padding: 0px;
  border-radius: 15px;
  align-self: center;

}

.info p{
  margin: 0px;
  padding: 0px;
  text-align:center;
}


.information{
  margin: 0px;
  padding: 0px;
  /* border: 2px solid red; */
  
}

.information h2{
  text-align: center;
}
.information-content{
  /* border: 2px solid green; */
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;

}

.information-heading{
  /* border: 2px solid brown; */
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}


                                                              /*Quote-block part starts here*/
.quote-box{
  /* border:2px solid red; */
  padding: 120px 40px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e7eb;
  margin-top: 75px;
  flex-wrap:wrap-reverse;

  


}

.the-quote{
  /* border:2px solid blue; */
  padding: 0px;
  margin: 0px;
  width: 830px;

}

.the-quote t{
  padding: 0px;
  margin: 0px;
  font-size: 36px;
  color: rgb(68, 66, 66);
  font-weight: lighter;
  font-style: italic;
 

}

.the-quote-author{
  /* border:2px solid green; */
  width: fit-content;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 400px;

 
}

.the-quote-author p{
  padding: 0px;
  margin: 0px;

  

}



/*finale starts here*/
.bottom-signing{
  /* border: 2px solid red; */
  display: flex;
  gap: 300px;
  margin: 0px;
  padding: 0px;
  width: fit-content;
  /* margin-left: 350px; */
  align-items: center;
  margin-top: 50px;
  background-color: #3882f6;
  padding: 36px 150px;
  margin: auto;
  border-radius: 20px;
  margin-top: 100px;
  


  
}

.bottom-text-one{
  color: white;
  margin: 0px;
  font-size: 35px;
  font-weight: bold;
}
.bottom-text-two{
  margin: 0px;
  color: white;
}
.signup-button{
 color: white;
 border-radius: 8px;
 border-style: solid;
 border-width: 2.5px;
 border-color: white;
 width: 150px;
 font-size: 20px;
 font-weight: 200;
}

.footer{
  /* border:2px solid red; */
  text-align: center;
  color: #e5e7eb;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 100px ;


  background-color: #1f2937;
}


